h1 {
  text-transform: uppercase;
}

p {
  z-index: 2;
  top: 300px;
  left: 10px;
  font-size: 30px;
}

#meme-image-container {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  background: white;
  margin: auto;
  padding: 15px 10px;
}

#meme-image {
  width: 90%;
  height: 90%;
}

#meme-text {
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
}
