h1 {
  text-transform: uppercase;
}

p {
  z-index: 2;
  top: 300px;
  left: 10px;
  font-size: 30px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#meme-image-container {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  background: white;
  margin: auto;
  padding: 15px 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#meme-image {
  width: 100%;
  height: 100%;
}

#meme-text {
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
  position: relative;
  top: -100px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#preview-images img {
  width: 100px;
}
